/* variables */
.background {
  --editor-height: 500px;
}

/* styles */
.background {
  background-color: #B1B1B1;
  color: #434343;
}

footer a {
  color: #ececec;
}

footer a:focus,
footer a:hover {
  color: #fff;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer li {
  display: inline;
  padding-left: .5rem;
  padding-right: .5rem;
}

.header {
  padding: 2rem 0;
  text-align: center;
}

.sub-header {
  font-size: 1.5rem;
  font-weight: 300;
}

#editor-container {
  height: var(--editor-height);
  margin-bottom: 50px;
}

#preview {
  background-color: #EFEFEF;
  height: var(--editor-height);
  overflow: scroll;
  padding: 10px 15px;
}

#preview pre {
  background-color: #dfdfdf;
  border-radius: 2px;
}

#preview blockquote {
    border-left: .25em solid #dfe2e5;
    color: #6a737d;
    padding: 0 1em;
}

#preview blockquote>:last-child {
    margin-bottom: 0;
}

#preview blockquote>:first-child {
    margin-top: 0;
}

#editor {
  background-color: #fdfdfd;
  height: var(--editor-height);
  width: 100%;
}

#HTML {
  background-color: #EFEFEF;
  height: var(--editor-height);
  width: 100%;
}

#break-option {
  text-align: center;
}

.description {
  padding-top: 2rem;
  text-align: center;
}

.footer {
  padding: 2rem 0;
  text-align: center;
}

/* toggle switch */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #444;
}

input:focus + .slider {
  box-shadow: 0 0 1px #444;
}

input:hover + .slider {
  box-shadow: 0 0 4px var(--primary);
  transition: 0s;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/* toggle switch end */

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  /* variables */
  .background {
    --editor-height: 300px;
  }
  /* Styles */
  .latter-col {
    margin-top: 1rem;
  }

  #preview {
    height: var(--editor-height);
    overflow: scroll;
  }
  #editor-container {
    height: var(--editor-height);
  }
  #HTML-container {
    height: var(--editor-height);
  }
  .description {
    padding-top: 3rem;
  }
}
